
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_container {
  display: block;
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden
}

.pink-color {
  background: pink;
}

.orange-color {
  background: orange;
}

